* {
    margin: 0%;
    padding: 0%;
}


/* Style the body */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#navigation-container {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 60px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    opacity: 0.7;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* button */

.btn {
    background-color: #05427B;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 9px;
}


/* Main  */

.main {
    width: 60%;
    width: auto;
    height: 700px;
    background-color: #E5E5E5;
}


/* sidebar */

.sidebar {
    float: left;
    width: 40%;
    height: 700px;
    position: relative;
    background-color: #FFCCCC;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    background: #735A43;
    height: 150px;
    position: relative;
}

p {
    float: left;
    padding-top: 73px;
    padding-left: 40px;
    color: #fff;
}